*{
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot") format("eot"),
    url("../fonts/Vazir.ttf") format("ttf"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSansXFaNum-Regular.eot") format("eot"),
    url("../fonts/IRANSansXFaNum-Regular.ttf") format("ttf"),
    url("../fonts/IRANSansXFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot") format("eot"),
    url("../fonts/Roboto-Regular.eot") format("ttf"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
}
